.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image:url("https://img.freepik.com/free-photo/abstract-flowing-neon-wave-background_53876-101942.jpg?semt=ais_hybrid&w=740&q=80");
    transition: 0.8s all;
}
h1 {
    text-align: center;
    margin-bottom: 1.5%;
    color: #fff;
}