body {


    background-color: #ffafd8;

    color: #DDDDDD;

}

h2 {

    color: #39BAFF;

}

/* attribute selector */
a {

    color: #ff3985;

    text-decoration: none;

}

h2:hover {

    color: #07706b;

}

/* child selector */
ul>li {

    font-weight: bold;

}

/* sibling selector */
h1+p {

    background-color: #163D57;

    padding: 10px;

    border-radius: 5px;

}

/* hover pseudo class */
ul li:hover {

    color: #be1610;

}

/* nth child pseudo class */
ul li:nth-child(3) {

    background-color: #30195c;

}

/* not pseudo class */
p:not(:first-of-type) {

    text-decoration: underline;

}

/* before pseudo element */
ul li::before {

    content: "🚀 ";

}

/* after pseudo element */
h2::after {

    content: " 🛰️";

}

/* first letter pseudo element */
p::first-letter {

    font-size: 200%;

    color: #FF7B72;

}
