body {
    font-family: Arial, sans-serif;
    background-color: #dfdfdf;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    width: 350px;
}

h1 {
    text-align: center;
    color: #084060;
}

.balance {
    text-align: center;
    margin-bottom: 20px;
}

.transaction-form input, 
.transaction-form select, 
.transaction-form button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #6e192c;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #aba2b5;
}

#transactions {
    list-style: none;
    padding: 0;
}

#transactions li {
    padding: 10px;
    margin: 5px 0;
    border-left: 5px solid;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.income {
    border-color: #79541b;
    color: #bab09e;
}

.expense {
    border-color: #94aed1;
    color: #4d287b;
}
