<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Microsoft.PLRS.EPatwari.Client.SmartApp.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/4>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <applicationSettings>
    <Microsoft.PLRS.EPatwari.Client.SmartApp.My.MySettings>
      <setting name="ePatwariSmartApp_tesrt_ServiceTransacData" serializeAs="String">
        <value>http://locaalhost/Microsoft.PLRS.EPatwari.Services/ServiceTransacData.asmx</value>
      </setting>
    </Microsoft.PLRS.EPatwari.Client.SmartApp.My.MySettings>
  </applicationSettings>
  <appSettings>
    <add key="scp" value="plrs" />
    <add key="scu" value="plrs" />
    <add key="MAXNUMDEN" value="12" />
    <add key="RNDTO" value="8" />
    <!--<add key="ConnStr"  value="server=PLRSSERVER;database=ISPLR;pwd=sa;uid=sa" />-->
    <!--<add key="ConnStr"  value="server=plrssਤerver;database=ISPLR_test;pwd=sa;uid=sa;Connect Timeout=1000;Timeout=1000 "/>-->
    <!-- <add key="ConnStr"  value="server=trc2007;database=ISPLR_TEST;pwd=sa;uid=sa" its 1.8.8/>-->
    <add key="DBVersion" value="11.0" />
    <add key="ConnStr" value="server=.;database=test;pwd=abc;uid=mycloud;Connect Timeout=1000;Timeout=1000" />
    <add key="CloudConnStr" value="267nd4T5Wm2lMny3gVoqNWboBCfW7YOf5+Qsk4zqfZT5ulmUFDv3+f3kHgtxx5ICy/XqV8H1FeHja4jgX96ELPLjakEoJ2Cy7ffAEvY6a6gdUbdEXh6p41i96Kch+IGHDgT9vU8kgLg=" />
    <!--<add key="CloudConnStr" value="36BkBPFrCfkd/6AAU95ImpVineQn5rCRkUhQ5NkdsPkATY55srOVglXw0Ij5LVFQn0KFfz6y6yH4uHigii03QSeOATxwE0jbTxLxeJY2xenQUvVdzfsHuG75xoEn/M5YCkQBrTOZJHA="/>-->
    <add key="ReportURL" value="http://aryan/ReportServer" />
    <add key="PunjabiLocale" value="pa-in" />

    <add key="ServerName" value="B7GQNzvyuSAOXal4bH1nygctffZQgKvN1bHrG3+J4+ApfCyC9a1hlw==" />

    <!--paste your security code in double codes-->
    
    <add key="E-patwariVersion" value="27.0" />
    <add key="ReportFolderName" value="JambandhiReport" />
    <add key="oldReportFolderName" value="oldjambandhireport" />
    <add key="CentreName" value="Punjab Land Record Society Kapurthla Road Jalandhar" />
    <add key="PJBackUpPath" value="C:\PLRS" />
    <add key="FamilyTakseem" value="false" />
    <add key="GISAppPath" value="D:\Ankesh\GIS Work\GIS ON 1st November\For Calling in Our Application\gis\esri team on 3828-gis-kkj\PLRS\bin\Debug\plrs.exe" />
    <add key="SourcDB" value="server=.;database=test;pwd=asd;uid=asd;Connect Timeout=100000" />
    <!--Jamabaandi key-->
    <add key="DeVersion" value="27.0" />
    <add key="ReportURL" value="http://arayn/ReportServer" />
    <add key="IsFingerPrintRequired" value="78652109e825599ef92c7648a58c7771" />
    <add key="CentreName" value="Punjab Land Record Society Kapurthla Road Jalandhar" />
    <add key="maxMonth" value="8" />
    <add key="maxDay" value="31" />
    <add key="ClientSettingsProvider.ServiceUri" value="fLveFdpnTkTL59V54EiYu7GAQQ9W1o3/bilg7ncTtxo=" />
    
    <add key="ApiUserName" value="rcmspunjab-nic" />
    <add key="ApiPassword" value="rcmspunjab@nic" />
    <add key="secureKey" value="d98f6a11g-h18e-54a6-0229-u88990d0a4749" />
    <add key="AccessToken" value="ytUOIWQaV1frprkR9xdToLCLzTsy4buleovPyEmowwzi4fbmepyc+d7POhQNRE9Eh/d98f6a11g/NRavJBgDFU72dYhxDe3HAJXgXSv8aNRrtWQ=" />
    <!--
		<add key ="GISAppPath" value ="C:\Documents and Settings\ ankesh.TRC20080.000\Desktop\1NOV_INTEGRATION\gis\esri team on 3828-gis-kkj\PLRS\bin\Debug\plrs.exe"/>
		-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
   
  </system.web>

 
  
  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.4.5.0" newVersion="5.4.5.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
  
</configuration>
